:root {
    --color-text: #DADADA;
    --color-text-2: #C9C9C9;
    --color-headings: #0F6FAF;
	--color-headings-2: #D97706;
	--color-links: #38BDF8;
    --color-background: #110E11;
	--gap: 16px;
    --main-font: 'Courier New', monospace;
}

html,body {
	width: 100%;
    height: 100%;
    margin: 0;
	background-color: var(--color-background);
	color: var(--color-text)
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
	display: inline-block;
	color: var(--color-text-2);
    text-decoration: none;
    font-weight: normal;

	transition: color 0.3s ease,
				transform 0.3s ease;
}

a:hover {
	color: var(--color-links);
	transform: scale(1.05);
}

main {
	flex: 1;
	padding: 1em;
}

footer {
	font-size: 12px;
	text-align: center;
}

header {
	display: block;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	max-width: 60%;
	padding: 0 var(--gap);
	margin: auto;
	font-size: 2vw;
}

nav div {
	display: flex;
	flex-wrap: wrap;
}

ul {
	display: flex;
	list-style: none;
    cursor: pointer;
	padding: 0;
	text-align: center;
	column-gap: var(--gap);
}

ul li {
	display: inline-block;
}
