.home {
	width: 100%;
	height: 75%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
}

.name {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.name h1 {
	font-size: min(13px, 1.5vw);
	color: var(--color-headings);
	white-space: pre;
	margin: 0px;
}

.home ul {
	list-style: none;
    cursor: pointer;
	padding: 0;
	text-align: center;
	font-size: 2vw;
}

.home ul li {
	display: inline-block;
}

a {
    color: var(--color-text-2);
}

/* body { */
/*   width: 400px; */
/*   margin: 0 auto; */
/*   font-family: sans-serif; */
/* } */
/**/
/* nav ul { */
/*   list-style: none; */
/*   padding: 3px 5px; */
/*   background: #111; */
/**/
/*   a { */
/*     color: #fff; */
/*     text-decoration: none; */
/**/
/*     &:hover { */
/*       text-decoration: underline; */
/*     } */
/*   } */
/**/
/*   li { */
/*     display: inline; */
/*   } */
/* } */
/**/
/* footer { */
/*   background: #f2f2f2; */
/*   padding: 2px 2px; */
/*   font-size: .7em; */
/*   text-align: center; */
/* } */
/**/
/* #map { */
/*   height: 300px; */
/* } */
